*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  font-family: "Roboto",sans-serif;
  font-size:10px;
}
img{
  width: 100%;

}
body{
  width:100%;
  height:100%;
  margin-top: 5%;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: #eee;
  padding: 0 1.5rem;
}

.card{  
  width:100%;
  max-width:98rem;
  padding:5rem;
  background-color: #fff;
  box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
  display:flex;
  align-items:center;
  border-radius: .8rem;
  margin:1.5rem;

}

.card__title{
  font-size:2.5 rem;
  margin: 1.5rem 0 2rem; 

}
.card__type p {
  display: block; 
  font-size:1.2rem;
  font-weight:600;
  margin: .5rem;
  margin-bottom: 1.5rem
}

.card__img{
  min-width:35rem;
  max-width:35rem;
  height:30rem;
  
  position:relative;

}
.card__img img{
  width:100%;
  height: 100%;
  object-fit:cover;
  display:block;
  border-radius: .8rem;
}

.card__price{
  display:flex;
  align-items:center;
  justify-content:space-around;
  
}

.card__price span{
  display: block; 
  font-size: 2rem;
  font-weight:500;
  margin: .5rem;

}

.card__price p{
  display: block; 
  font-size: 1.25rem;
  font-weight:400;
  margin: .5rem;

}


.card__text{
  margin-bottom:5rem;
  margin-left: 1.5rem;
  margin-right:1.5rem;
  font-size: 1.4rem;
  color: rgba(0, 0,0,.7);

}

.card__button{
  display:inline-block;
  padding:1.5rem 3rem;
  letter-spacing: 1px;
  font-size:1.2rem;
  color: rgb(255, 255, 255);
  background-color: green;
  border-radius: 1rem;
 


}
@media screen and (max-width:1068px){
  .card{
    max-width: 80rem;
  }
  .card__img{
  min-width: 30rem;
  max-width: 30rem;
}

}
@media screen and (max-width:868px){
  .card{
  max-width: 70rem;
  }


}

@media screen and (max-width:768px){
  .card{
    flex-direction: column;
    padding :2.5rem;
  }
  .card__img{
  min-width: 100%;
  max-width: 100%;
  transform: translate(0,.8rem);
}

}